# --- Security: NEVER upload these ---
.env
.DS_Store

# --- Dependencies: Too big to upload ---
node_modules/
npm-debug.log

# --- Deploy: We DO want 'dist' (Frontend Build), so DO NOT ignore it
# (If you see 'dist/' or 'build/' here, delete those lines!)